<!DOCTYPE html>
<html data-dpi="3" style="font-size: 21.9937px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>订单详情</title>
    <meta name="viewport"
          content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui"/>
    <!-- UC浏览器全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- QQ浏览器全屏 -->
    <link rel="stylesheet" href="__ROOT__/Public/Common/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/details.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/order.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/commentDetail.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Index/icon/iconfont.css">
    <script type="text/javascript" src="__ROOT__/Public/Index/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/comm.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/layer/layer.js"></script>

</head>
<body>
<div id="headerview" style="height: 2.2rem;">
    <div class="cm-header" id="ui-view-15">
        <h1 class="cm-page-title js_title"> 我的点评  </h1>
        <i class="icon-back" style="float:left"></i>
    </div>
</div>

<div id="main" class="hotel-page-height100">
    <h2>{$data.room_name}</h2>
    <div class="info">
        <span>您的评分：</span>
        <span style="margin-left:10px;">{$data.score}分</span>
        <span style="margin-left:10px;">{$data.score|scoreToDesc}</span>
    </div>

    <div class="info comment">
        <span>您的评分：</span>
        <p>{$data.comment}</p>
    </div>

    <div class="info img">
        <span>您的图片：</span>
        <if condition="$data.img eq 0">
            您未上传图片
            <else/>
            <div class="comment_img">
                <foreach name="data.img" item="v">
                    <img src="{$v}"  />
                </foreach>
            </div>
        </if>

    </div>

    <div class="detail_btn">
        <span class="pay-submit " id="extend">返回订单列表</span>
    </div>

</div>
    <input type="hidden" class="confirm_type" value="{$data.confirm_type|default='1'}">
        <script type="text/javascript">
        $(function () {


            $(".icon-back").click(function () {
                location.href="{:U('home/index/orderList')}"
            });

            //返回订单列表
            $('#extend').click(function(){
                location.href="{:U('home/index/orderList','','')}"
            })



    });
</script>
<include file="Common/tongji" />
</body>
</html>