<!DOCTYPE html>
<html data-dpi="3" style="font-size: 21.9937px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>酒店预订,酒店价格查询,宾馆住宿预定,手机订酒店</title>
    <meta name="viewport" content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
    <!-- UC浏览器全屏 -->
    <meta name="x5-fullscreen" content="true" />
    <!-- QQ浏览器全屏 -->
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/details.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Index/icon/iconfont.css">
    <script type="text/javascript" src="__ROOT__/Public/Index/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/comm.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/layer/layer.js"></script>

    <style>
        .roomDetail{
            border-width: 1px 0 0;
            background: #fff;
            font-family: -apple-system,Helvetica,'Hiragino Sans GB W3','Microsoft YaHei',arial,sans-serif;
            font-size: 0.7rem;
            line-height: 1.65rem;
            padding:0.5rem;
            margin-bottom: 82px;
        }

        .roomDetail img{
            width: 100%;
            display: block;
            margin-top: 0.5rem;
            border: 0;
        }
        .roomDetail p{
            padding: 0.5rem 0.25rem;
            color: #808080;
            font-size: 0.65rem;
        }
    </style>

</head>
<body>
<div id="headerview" style="height: 2.2rem;">
    <div class="cm-header" id="ui-view-15">
        <h1 class="cm-page-title js_title"> {$hotel_info.cname}酒店详情 </h1>
        <i class="icon-back" style="float:left"></i>
    </div>
</div>
<div id="main" class="hotel-page-height100">
    <div class="main-frame">
        <div class="main-viewport">
            <div class="roomDetail">
                <!--主体-->
                <!--<img  src="{$hotel_info.image}">-->
                <p>酒店星级：{$hotel_info.star}</p>

                <if condition="$hotel_info['address']">
                    <p>酒店地址:{$hotel_info.address} <if condition="$hotel_info['address_en']">/ {$hotel_info.address_en}</if></p>
                </if>

                <if condition="$hotel_info['tags']">
                    <p>酒店标签:</p>
                    <foreach name="hotel_info['tags']" item="vo" >
                        {$vo}
                    </foreach>
                </if>

                <if condition="$hotel_info['introduction']">
                    <p>酒店介绍：{$hotel_info.introduction}</p>
                </if>

                <if condition="$hotel_info['remark']">
                    <p>温馨提示：{$hotel_info.remark}</p>
                </if>

                <if condition="$hotel_info['facilities']">
                    <p>酒店设施:
                        <foreach name="hotel_info['facilities']" item="v" key="k" >
                            <span style="margin-right: 10px;">{$k}:{$v}</span>
                        </foreach>
                    </p>
                </if>

                <if condition="$hotel_info['arounds']">
                    <p>周边设施:
                        <foreach name="hotel_info['arounds']" item="v">
                            {$v}<br/>
                        </foreach>
                    </p>
                </if>

                <if condition="$hotel_info['traffics']">
                    <p>周边交通：
                        <foreach name="hotel_info.traffics" item="v" key="k">
                            {$v}<br/>
                        </foreach>
                    </p>
                </if>
            </div>
            <!--loading-->
            <button class="g_btn_s js_confirm_btn">返回详情</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".js_confirm_btn").click(function () {
            history.back()
        });

        $(".icon-back").click(function () {
            history.back()
        });


    });
</script>
<include file="Common/tongji" />
</body>
</html>