<!DOCTYPE html>
<html data-dpi="3" style="font-size: 21.9937px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>酒店预订,酒店价格查询,宾馆住宿预定,手机订酒店</title>
    <meta name="viewport"
          content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui"/>
    <!-- UC浏览器全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- QQ浏览器全屏 -->
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/details.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/order.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Index/icon/iconfont.css">
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/date_select.css" />

    <script type="text/javascript" src="__ROOT__/Public/Index/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/comm.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/layer/layer.js"></script>

</head>
<body>
<div id="headerview" style="height: 2.2rem;">
    <div class="cm-header" id="ui-view-15">
        <h1 class="cm-page-title js_title"> {$data.room_name} </h1>
        <i class="icon-back" style="float:left"></i>
    </div>
</div>

<div id="main" class="hotel-page-height100">
    <div class="main-frame">
        <div class="main-viewport">
            <div class="roomDetail">
                <ul class="t-smeal" style="margin-bottom:20px;">
                    <!-- 基础信息（国内用）-->
                    <li class="cell-v" style="">
                        <div class="bk-cell-num">
                            <div class="smeal-evl">
                                <p>

                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- /基础信息（国内用）-->
                    <!-- start 修改日期按钮 -->
                    <li id="js_checkInOutDay" class="cell-v">
                        <p class="smeal-evl bk-cell-num">

                            <em>入住：<input type="text" id='start_time' readonly="readonly" name="start_time" class="g-fn1 start_time select-time input-enter" style="border: 0px;" value="{$data.check_in}"/></em>
                            <!--钟点房不显示离店日期及晚数-->
                            <em>离店：<input type="text" id="end_time" readonly="readonly" name="end_time" class="g-fn1 end_time select-time input-leave" style="border: 0px;" value="{$data.check_out}"/></em></em>
                        </p>
                    </li>
                    <!-- end 修改日期按钮 -->
                </ul>

                <!--房间数-->
                <div class="every_room_info">
                    <div class="adult">
                        <span>房间数</span>
                        <div class="cm-num-adjust" style="float:right">
                            <span class="cm-adjust-minus js_num_minus   js_adult_num" _type="del"></span>
                            <input type="tel" class="cm-adjust-view js_cur_num adult_num" value="{$data.room_count}">
                            <span class="cm-adjust-plus js_num_plus js_adult_num" _type="add"></span>
                        </div>
                    </div>

                </div>
                <ul class="m-list">

                    <for start="0" end="$data.room_count" >
                        <li class="js_roomCount_button name<if condition='$i neq 0'>{$i+1}</if>">
                            <label class="m-label">入住人{$i+1}</label>
                            <input type="text" style="width:34.5%;float: right;" class="m-input nofastclick js_input lastname" placeholder="名"  value="{$contact_username[$i][1]}">
                            <input type="text" style="width:34.5%;float: right;" class="m-input nofastclick js_input firstname" placeholder="姓" value="{$contact_username[$i][0]}">
                        </li>
                    </for>
                    <!--<li class="js_roomCount_button name">-->
                        <!--<label class="m-label">入住人</label>-->
                        <!--<input type="text" style="width:37.5%;float: right;" class="m-input nofastclick js_input firstname" placeholder="姓">-->
                        <!--<input type="text" style="width:37.5%;float: right;" class="m-input nofastclick js_input lastname" placeholder="名">-->
                    <!--</li>-->
                    <li class="js_roomCount_button">
                        <label class="m-label">大陆手机</label>
                        <input type="text" style="float: right;" class="m-input nofastclick js_input phone" placeholder="手机号" value="{$data.contact_tel}">
                    </li>
                    <li class="js_roomCount_button" style="display: none;">
                        <label class="m-label">优惠码</label>
                        <input type="text" style="float: right;" class="m-input nofastclick js_input code" placeholder="请输入优惠码" value="{$data['coupon_code']|default=''}">
                    </li>
                    <!--/房间数-->
                    <!--Star 房间数下拉控件-->

                    <!-- end 境内手机 -->
                </ul>
            </div>
            <!--loading-->
            <div class="tips">
                <p class="tip" id="js_booking_cancelInfo">{$data.remarks}</p>

            </div>

            <!--layout-->
            <div class="hotel-cost-layer" style="display: none;">
                <div class="vh-middle">
                    <h2>费用明细</h2>
                    <dl class="cost-list">
                        <dt>
                            <span class="hotel-font-color">房费</span>
                        </dt>

                        <foreach name="data.money_list" item="v" key="k">
                            <dd>
                                <foreach name="v" key="date" item="money">
                                    <span class="w45">{$date}</span>
                                    <span>{$data.breakfast}</span>
                                    <span style="text-align: right;"><small>¥</small>{$money} × <small class="roomNum">1</small></span>
                                </foreach>
                            </dd>
                        </foreach>
                    </dl>
                    <div class="cost-txt">
                        <p>
                            总额：
                            <strong class="g-price">¥{$data.total_money}</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div style="height:4.5rem;    width: 100%;"></div>
            <section class="bk-pay" id="js_paybar_wrap">

                <div class="pay-txt">
                    <span class="pay-money">总额：
                            <small>¥</small>
                            <b>{$data.total_money}</b></span>
                    <span class="pay-detail" id="js_price_detail_link">费用早餐明细<i class="bk-icon-arrow-right"></i></span>
                </div>
                <span class="pay-submit " id="js_booking_paybtn">提交更改</span>
            </section>
        </div>
    </div>
</div>
<input type="hidden" class="confirm_type" value="{$data.confirm_type|default='1'}">
<input type="hidden" class="mark" value="0">
<script type="text/javascript">
    $(function () {
        //手机号验证
        function is_mobile(mobile){
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            if(!myreg.test(mobile)) {
                return false;
            }else{
                return true;
            }
        }

        //提交修改
        $('#js_booking_paybtn').click(function(){
            var index = layer.load(2, {time: 10*1000});
            var room_username_list=''
//            var starttime   = document.getElementById("start_time").value;
//            var endtime     = document.getElementById("end_time").value;
            for (var i = 1; i <= $('.adult_num').val(); i++) {
                if (i == 1) {
                    var first = $('.name .firstname').val();
                    var last = $('.name .lastname').val();
                    room_username_list += first + ':' + last + '|'
                } else {
                    var first = $('.name' + i + ' .firstname').val();
                    var last = $('.name' + i + ' .lastname').val();
                    room_username_list += first + ':' + last + '|'
                }
            }
            room_username_list = room_username_list.substring(0, room_username_list.length - 1);
            var contact_username =$('.name .firstname').val() + $('.name .lastname').val();
            var contact_tel = $('.phone').val()
            if( !is_mobile(contact_tel) ){
                layer.alert('请输入正确的手机号！');
                return;
            }

            var data = {
                'order_no':'{$data.order_no}',
                'wowo_order_no':'{$data.wowo_order_no}',
                'check_in':$('.start_time').val(),
                'check_out':$('.end_time').val(),
                'room_count':$('.adult_num').val(),
                'contact_tel':contact_tel,
                'contact_username':contact_username,
                'room_username_list':room_username_list,
            }
            $.ajax({
                type: "POST",
                url: "{:U('home/index/orderModify')}",
                data: data,
                dataType:'json',
                success: function (d) {
                    layer.close(index)
                    if(d.status==1){
                        location.href="{:U('home/index/orderModifyCheck','','')}/oid/{$data.order_no}/wowo_order_no/{$data.wowo_order_no}/change/"+ d.msg;
                    }else{
                        layer.alert(d.errmsg)
                    }
                }
            });
        })

        //房间数更改
        $('.js_adult_num').click(function(){
            var attr = $(this).attr('_type');
            var count = parseInt($('.adult_num').val());
            if(attr == 'add'){
                count +=1;
            }else{
                count -=1;
                count = (count<0)?0:count;
            }
            var index = layer.load();
            var mark = 1;
            setTimeout(function(){
                if(mark == 1){
                    layer.close(index);
                    layer.alert('请求超时！');
                }
            },60000)

            var check_in   = $('.start_time').val();
            var check_out  = $('.end_time').val();
            $.ajax({
                type: "POST",
                url: 'http://demo.wowoyoo.com/airchina_api/query_room_price',
                data: {
                    city_id:'{$data.city_id}',
                    check_in:check_in,
                    check_out:check_out,
                    hotel_id:'{$data.hotel_id}',
                    rate_code:'{$data.rate_code}',
                    room_count:count,
                },
                dataType: "json",
                success: function(data){
                    mark=0;
                    layer.close(index);
                    if(data.status ==0 ){
                        layer.alert(data.errmsg);
                    }else{

                        if(attr == 'add' && count>1){
                            var str = '<li class="js_roomCount_button name'+count+'">'
                            str += '<label class="m-label">入住人'+count+'</label>'
                            str += '<input type="text"  style="width:34.5%;float: right;" class="m-input nofastclick js_input lastname" placeholder="名">'
                            str += '<input type="text"  style="width:34.5%;float: right;" class="m-input nofastclick js_input firstname" placeholder="姓">'
                            str += '</li>'
                            $('.m-list').prepend(str);
                        }else if(attr == 'del' && count>=1){
                            $('.m-list .name'+(count+1)).remove();
                        }

                        $('.pay-money b').text(data.data.total_money)
                        $('.adult_num').val(count )
                        $('.g-price').text('￥'+data.data.total_money);
                        $('.g-roomNum').text(count);
                        $('.confirm_type').val(data.data.confirm_type);
                    }
                }
            });
        })

        $(".js_confirm_btn").click(function () {
            history.back()
        });

        $(".icon-back").click(function () {
            history.back()
        });

        $('.hotel-cost-layer').click(function(){
            $(this).hide();
        })

        $('#js_price_detail_link').click(function(){
            if($('mark').val()==1){
                return;
            }
            $.ajax({
                type: "GET",
                url: "{:U('home/index/roomInfo')}",
                data: {
                    city_id:'{$data.city_id}',
                    check_in:'{$data.check_in}',
                    check_out:'{$data.check_out}',
                    hotel_id:'{$data.hotel_id}',
                    rate_code:'{$data.rate_code}',
                    room_count:'{$data.room_count}',
                    adult_count:'{$data.adult_count}',
                    children_count:'{$data.children_count}',
                    room_name:'{$data.room_name}',

                },
                dataType: "json",
                success: function(data){
                    var str = '';

                    for(var a in data){
                        str += '<dd>';
                        str += '<span class="w45">'+data[a]["time"]+'</span>';
                        str += '<span>'+data[a]["breakfast"]+'</span>';
                        str += '<span style="text-align: right;"><small>¥</small>'+data[a]["money"]+' </span>';
                        str += '</dd>';
                    }

                    $('.mark').val('1');
                    $('.g-price').text('￥{$data.total_money}')
                    $('.cost-list dd').remove();
                    $('.cost-list').append(str);

                }


            })

            $('.hotel-cost-layer').css('display','table');
        })
    });


</script>
<include file="Common/tongji" />
<script type="text/javascript" src="__ROOT__/Public/Index/js/date_select.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    //绑定南航日期
    var bind_date=function(){
        if($('.select-time')[0]){
            $('.select-time').hotelDate();
        }
    }
    bind_date();
});   
</script>
</body>
</html>