<!DOCTYPE html>
<html data-dpi="3" style="font-size: 21.9937px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>订单取消</title>
    <meta name="viewport"
          content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui"/>
    <!-- UC浏览器全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- QQ浏览器全屏 -->
    <link rel="stylesheet" href="__ROOT__/Public/Common/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/details.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/order.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/orderDetail.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Index/icon/iconfont.css">
    <script type="text/javascript" src="__ROOT__/Public/Index/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/comm.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/layer/layer.js"></script>

</head>
<body>
<div id="headerview" style="height: 2.2rem;">
    <div class="cm-header" id="ui-view-15">
        <h1 class="cm-page-title js_title"> 订单取消申请 </h1>
        <i class="icon-back" style="float:left"></i>
    </div>
</div>

<div id="main" class="hotel-page-height100">
    <h2>订单详情</h2>
    <table class="table table-bordered" style="background: #fff;">
        <tr>
            <td>入住酒店</td>
            <td colspan="2">{$data.room_name}</td>
        </tr>

        <tr>
            <td>入住信息</td>
            <td colspan="2">
                入住时间{$data.check_in}<br/>
                离店时间{$data.check_out}<br/>
            </td>
        </tr>
        <tr>
            <td>入住人</td>
            <td colspan="2">{$data.contact_username}</td>
        </tr>
        <tr>
            <td>联系方式</td>
            <td colspan="2">{$data.contact_tel}</td>
        </tr>
        <tr>
            <td>订单编号：</td>
            <td colspan="2">{$data.order_no}</td>

        </tr>
        <tr>
            <td >酒店确认号：</td>
            <td colspan="2">{$data.confirm_code}</td>
        </tr>

        <tr>
            <td>订单金额：</td>
            <td colspan="2">{$data.total_money}</td>
        </tr>
        <tr>
            <td>状态：</td>
            <td colspan="2" style="color:#ff7d13">{$data.order_status|orderStatus}</td>
        </tr>
        <tr>
            <td colspan="3">申请取消原因</td>
        </tr>
        <tr>
            <td colspan="3">
                <textarea id="reason"></textarea>
            </td>
        </tr>


    </table>

    <div class="detail_btn">
        <span class="pay-submit " id="cancel_order">提交申请</span>
    </div>

</div>
    <input type="hidden" class="confirm_type" value="{$data.confirm_type|default='1'}">
        <script type="text/javascript">
        $(function () {
            //提交申请
            $('#cancel_order').click(function(){
                var index = layer.load(2, {time: 10*1000});
                var data={
                    'order_no': '{$data.order_no}',
                    'wowo_order_no': '{$data.wowo_order_no}',
                    'remark':$('#reason').val()
                }

                $.ajax({
                    type: "GET",
                    url: '{:U("home/index/cancelOrder")}',
                    data: data,
                    dataType:'json',
                    success: function (d) {
                        layer.close(index);
                        if(d.status == 1){
                            location.href="{:U('home/index/orderCancelCheck','','')}/oid/{$data.order_no}/wowo_order_no/{$data.wowo_order_no}"
                        }else{
                            layer.alert(d.errmsg);
                        }
                    }
                });

            })


            $('#update_order').click(function(){
                location.href="{:U('home/index/modifyOrder','','')}/oid/{$data.order_no}/wowo_order_no/{$data.wowo_order_no}"
            })


        $(".icon-back").click(function () {
            history.back()
        });


    });
</script>
<include file="Common/tongji" />
</body>
</html>