<!DOCTYPE html>
<html data-dpi="3" style="font-size: 21.9937px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>酒店预订,酒店价格查询,宾馆住宿预定,手机订酒店</title>
    <meta name="viewport"
          content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui"/>
    <!-- UC浏览器全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- QQ浏览器全屏 -->
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/index.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Index/icon/iconfont.css">
    <link rel="stylesheet" href="__ROOT__/Public/Index/css/select_city.css" type="text/css"/>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/comm.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Index/js/layer/layer.js"></script>
</head>
<body onselectstart="return false" class="" itemscope="" itemtype="//schema.org/WebPage">
<div id="headerview" style="height: 2.2rem;">
    <div class="cm-header cm-header--no-right" style="" id="ui-view-25">
        <span class=" cm-header-icon fl  js_back">
          <a href="javascript:void(0)"><i class="icon-back" ></i></a>
        </span>
        <h1 class="cm-page-title js_title">
            选择城市
        </h1>
    </div>
</div>
<!-- 搜索头-->
<div class="select_head"  style="height: 2.2rem;display: none;">
    <div class="cm-header cm-header--no-right" style="background: #e6f1f7;" >
        <span class=" cm-header-icon fl  js_back" >
          <a href="javascript:void(0)"><i class="icon-back" ></i></a>
        </span>

        <div class="cui-input-bd" style="width: 70%;border-radius: 50px;background: #fff;position:absolute;left:10%;top:0.22rem;height:1.76rem;overflow: hidden">
            <div class="icon_sousuo" style="top:0.18rem;">
                <i class="icon iconfont icon-sousuo" style="color:#000;font-size:1.2rem;"></i>
            </div>
            <input class="cui-input-box" placeholder="北京/beijing" type="text" id="js_select">
        </div>

        <div class="cancel">取消</div>
    </div>
</div>
<!-- /搜索头-->
<!-- 搜索体-->
<div class="select_body" style="display: none;">

</div>
<!-- /搜索体-->


<div id="js_hotel_customheader" style="height: 2.2rem; display: none;">
</div>

<div id="main" class="">

    <div class="main-frame">
        <div class="main-viewport">

            <div id="client_id_viewport_2_1504663246070" page-url="/webapp/hotel/citylist" style=""
                 data-view-name="citylist">
                <article class="cui-city-box hotel-city-box">
                    <!--搜索 input 框 + 按钮-->

                    <section id="js_searchBox" class="cui-citys-hd cui-input-focus" style="">
                        <div class="cui-input-bd" style="width: 100%" id="js-input">
                            <div class="icon_sousuo">
                                <i class="icon iconfont icon-sousuo"></i>
                            </div>

                            <input readonly="readonly" class="cui-input-box" placeholder="北京/beijing" type="text">
                        </div>
                    </section>

                    <!--City-->
                    <section class="cui-citys-bd js_ground_layer_body">
                        <!--Table 切换-->
                        <div class="h44" id="js_city_tabpanel">
                            <div id="js_tab" class="tab-city">
                                <div class="view" style="" id="ui-view-22">
                                    <ul class="cui-tab-mod">
                                        <li data-key="1" data-ubt-key="" data-index="0" class="cui-tab-current">
                                            国内城市
                                        </li>

                                        <li data-key="2" data-ubt-key="" data-index="1" class="">
                                            海外城市
                                        </li>

                                        <i class="cui-tab-scrollbar cui-tabnum2"></i>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--城市列表-->
                        <ul id="js_tmp_city_mainList_inland_mark" class="cui-city-itmes">

                            <!--<li class="js_current_city">-->
                                <!--<span class="cui-city-t">当前</span>-->
                                <!--<ul id="TAG_without" class="hotel-city-tags city_ul">-->
                                    <!--<li data-mark="pos_around">我的位置</li>-->
                                    <!--<li data-id="js_postion" data-cityname="" data-mark="pos_city" class="hidden"-->
                                        <!--style="display: none;"></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <if condition="$history_city">
                                <li class="js_simple_city js_history_city">
                                    <span class="cui-city-t">历史选择</span>
                                    <ul class="hotel-city-tags city_ul">
                                        <foreach name="history_city" item="city" key="cid">
                                            <li  data-cityid="{$cid}" city="{$city}">{$city}</li>
                                        </foreach>
                                    </ul>
                                </li>
                            </if>
                            <!--国内热门列表-->
                            <if condition="$citys['国内']['hot']">
                                <li class="js_simple_city js_hot_city not-foreign">
                                    <span class="cui-city-t">热门城市</span>
                                    <ul class="hotel-city-tags city_ul">
                                        <foreach name="citys['国内']['hot']" item="hots">
                                            <li  data-cityid="{$hots.id}" city="{$hots.cname}">{$hots.cname}</li>
                                        </foreach>
                                    </ul>
                                </li>
                            </if>
                            <!--国外热门列表-->
                            <if condition="$citys['国外']['hot']">
                                <li class="js_simple_city js_hot_city foreign">
                                    <span class="cui-city-t">热门城市</span>
                                    <ul class="hotel-city-tags city_ul">
                                        <foreach name="citys['国外']['hot']" item="hots">
                                            <li  data-cityid="{$hots.id}" city="{$hots.cname}">{$hots.cname}</li>
                                        </foreach>
                                    </ul>
                                </li>
                            </if>
                            <!--国内列表-->
                            <foreach name="citys['国内']['prefix']" item="prefix" key="key">
                                <li class="js_simple_city js_char_city cui-arrow-close not-foreign" data-key="{$key}">
                                    <span class="cui-city-t js_cat_btn">{$key}</span>
                                    <ul class="cui-city-n city_ul" style="display: none;">
                                        <foreach name="prefix" item="city">
                                            <li  data-cityid="{$city.id}" city="{$city.cname}">{$city.cname} <if condition="$city['state_cn']">/ {$city.state_cn}</if></li>
                                        </foreach>
                                    </ul>
                                </li>
                            </foreach>

                            <!--国外列表-->
                            <foreach name="citys['国外']['prefix']" item="prefix" key="key">
                                <if condition="$key">
                                    <li class="js_simple_city js_char_city cui-arrow-close foreign" data-key="{$key}">
                                        <span class="cui-city-t js_cat_btn">{$key}</span>
                                        <ul class="cui-city-n city_ul" style="display: none;">
                                            <foreach name="prefix" item="city">
                                                <li  data-cityid="{$city.id}" city="{$city.cname}">{$city.cname} <if condition="$city['state_cn']">/ {$city.state_cn} </if> <if condition="$city['country_cn']"> / {$city.country_cn}</if></li>
                                            </foreach>
                                        </ul>
                                    </li>
                                </if>
                            </foreach>

                        </ul>
                        <ul id="js_tmp_city_mainList_oversea_mark" class="cui-city-itmes" style="display: none;"></ul>
                    </section>
                    <!-- 弹出搜索 -->
                    <!-- /弹出搜索 -->
                    <!--联想固顶文案 -->
                    <div class="p10 cui-top-fixed js_topbar" style="display: none;">酒店起价为参考价</div>
                    <!-- 弹出层搜索列表 -->
                    <section id="js_layerSearchBox_listBox" class="hotel-filter-searchlistbox js_layer_list_wrap"
                             style="display: none;">
                        <!--搜索联想结果list-->
                        <ul id="js_layerSearchBox_listBox_destination"
                            class="cui-city-associate hotel-asso-wrap hotel-t-border js_layer_list"></ul>

                        <!--无联想结果-->
                        <ul id="js_layerSearchBox_listBox_empty" class="cui-city-n">
                            <li class="cui-city-novalue">无联想结果</li>
                        </ul>
                    </section>
                    <!-- 弹出层 目的地联想搜索 历史列表 -->
                    <section id="js_layer_des_ac_history_listbox" class="hotel-filter-searchlistbox js_layer_list_wrap"
                             style="display: none;"></section>
                    <!-- /弹出层搜索列表 -->
                </article>
            </div>
        </div>
        <div class="main-state">
        </div>
    </div>

</div>
<noscript>
    <div style="display:inline;"><img
            src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/941384053/?value=0&amp;guid=ON&amp;script=0"
            style="border-style:none;" width="1" height="1"></div>
</noscript>
<div id="footer"></div>

<script>
    //搜索
    $('#js-input').click(function(){
        $('#headerview').hide();
        $('#main').hide();
        $('.select_body').show();
        $('.select_head').show();
    });

    $('.cancel').click(function(){
        $('.select_body').hide();
        $('.select_head').hide();
        $('#headerview').show();
        $('#main').show();
    })

    $('#js_select').bind('input propertychange', function() {
        //进行相关操作
        $.ajax({
            type: "POST",
            url: "{:U('home/index/associativeSearch')}",
            data: {'city':$(this).val()},
            dataType: "json",
            success: function(data) {
                var str = '';
                for(var a=0;a<data.length;a++){
                    str += '<div class="select_city">';
                    str +=      '<p _id="'+data[a]['id']+'" _city="'+data[a]['cname']+'">'+data[a]['cname']+','+data[a]['state_cn']+','+data[a]['country_cn']+'</p>';
                    str += '</div>';
                }
                $('.select_body').empty().append(str);
                $('.select_city').unbind('click');
                $('.select_city').each(function(index, el) {
                    $(this).click(function(event) {
                        var cityid = $(this).find('p').attr('_id');
                        var city = $(this).find('p').attr('_city');
                        location.href="{:U('home/index/index')}?city_id="+cityid+'&city='+city+'&{$query}';
                    });
                });
            }
        })
    });

    //联想搜索选择
    $(document).on('click','.select_city',function(){
        var cityid = $(this).find('p').attr('_id');
        var city = $(this).find('p').attr('_city');
        location.href="{:U('home/index/index')}?city_id="+cityid+'&city='+city+'&{$query}';
    })

    //选择城市
    $('.city_ul li').click(function(){
        var cityid = $(this).attr('data-cityid');
        var city = $(this).attr('city');
        location.href="{:U('home/index/index')}?city_id="+cityid+'&city='+city+'&{$query}';
    });

    $(".icon-back").click(function () {
        history.back()
    });

    $('#ui-view-22 li').click(function(){
        var data_key = $(this).attr('data-key');

        if(data_key==1){
            //国内
            $('.cui-tab-scrollbar').css('left','0');
            $('.not-foreign').css('display','block');
            $('.foreign').css('display','none');
            $(this).css('color','#099fde').siblings().css('color','#666')
        }else{
            //国外
            $('.cui-tab-scrollbar').css('left','50%');
            $('.not-foreign').css('display','none');
            $('.foreign').css('display','block');
            $(this).css('color','#099fde').siblings().css('color','#666')
        }

    });

    $('.cui-city-t').click(function(){
        var display = $(this).next().css('display');
        if(display=='block'){
            $(this).next().css('display','none');
        }else{
            $(this).next().css('display','block');
        }
    });

    $(function(){
       $(".cui-city-n:eq(0)").show();
       $(".foreign .cui-city-n:eq(0)").show();
    });


</script>
<include file="Common/tongji" />
</body>
</html>