html{font-size:16px;}
#main {  text-align: center;  }
.btn-adele{  background-color: #3065a1;  }
.btn-left{  background-color: #3065a1;  }
.btn-right{  background-color: #00a0e9;  }
.btn{  color:#fff;  }

.btn-cancel{background-color: #008bcb;}

.order{
    text-align: left;
    width:95%;
  /*  border:1px solid grey;*/
    background: #fff;
    margin:0.625rem auto;
    padding:0.2rem;
}
.order .order_one,.order .order_two,.order .order_three{
    /*height:2.1rem;*/
    /*line-height: 2.1rem;*/
    padding:0.5rem 0;
}
.order .order_one{
    /*font-size:*/
}
.order .order_one .number{
    background-color: #18467a;
    display: inline-block;
    width:1rem;
    height:1rem;
    line-height: 1rem;text-align: center;color: #fff;
}
.status{
    color:#00a0e9;
}
.order_three{
    color:#898989;
    border-top: #c9c9c9 solid 1px;
}
.check_in,.check_out{
    color: #00a0e9;
}























